{% extends "layout_base.html" %}

{% block conteudo %}

    <h1>Validação de Renda</h1>

    {% if msg_error %}
        <div class="alert alert-danger" role="alert">
<!--            <p>Olá, {{ nome }}. </p>-->
            <p>{{ msg_error }}</p>
            <p>Por favor tente novamente.</p>
        </div>
    {% endif %}

    <form action="{{ url_for('validacao_renda') }}" method="post" class="row g-3">
        <div class="col-md-6">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" id="nome" name="nome" required class="form-control" >
        </div>
        <div class="col-md-6">
            <label for="renda" class="form-label" >Renda: </label>
            <input type="text" name="renda" id="renda" required class="form-control" >
        </div>
        <input type="submit" value="Enviar" class="btn btn-primary">
    </form>

{% endblock %}
